@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color:white;
}
body{
    background-color: rgb(40, 90, 165);
}
h1{
   margin-top:5rem;
   text-align:center;
}
#container{
    display: flex;
    flex-direction: column;
    max-width:700px;
    margin:auto;
    padding:2rem 1rem;
}
#container label{
    margin-top:2rem;
    font-weight: bold;
}
#container input{
    color:black;
    padding:0.4rem 0.5rem;
    margin-top:0.5rem;
}
#container #button{
    margin-top: 2rem;
    background-color: rgb(223, 73, 105);
    border:none;
    border-radius:0.5rem;
    cursor: pointer;
    padding:0.4rem 0.5rem;
}
#container #output{
    margin-top:2.5rem;
    text-align: center;
    
}