@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color:white;
}
body{
    background-color: rgb(40, 90, 165);
}
#container{
    margin-top:5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#container label{
    margin-top:2.5rem;
    font-weight: bold;
}
#container input{
    color:black
}
#container .input{
    width:50%;
    margin: auto;
    padding:0.4rem 0.5rem;
    margin-top:1rem;
}
#container #button{
    margin-top: 2rem;
    background-color: rgb(223, 73, 105);
    border:none;
    border-radius:0.5rem;
    cursor: pointer;
}
#container #output{
    margin-top:2.5rem;
}